@use '../../base';

.modal {
  width: 100%;
  .section {
    background-color: base.$bg-color;
    width: 50%;
    text-align: center;
    min-height: 300px;
    margin: 10px auto;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      background-color: #fff;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 500px;
      max-height: 500px;
      position: relative;
      text-align: start;
      .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        background-color: aquamarine;
        border-radius: 4px;
        padding: 3px 6px;
        margin: 0;
        &:hover {
          color: base.$bg-color;
        }
      }
      .header {
        width: 80%;
        min-height: 30px;
      }
      .body {
        max-height: 300px;
        overflow: hidden auto;
      }
      .footer {
        text-align: end;
        padding-top: 5px;
      }
    }
  }
}
