@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.green {
    color: #0f0;
}

.red {
    color: #f00;
}
.yellow {
    color: #ff0;
}
.orange {
    color: #fa0;
}
.input {
    padding: 10px 20px;
}