@use "../../base";

.form-validation {
  width: 50%;
  background-color: base.$bg-color;
  padding: 10px;
  margin: auto;
  @media (max-width: 967px) {
    width: 70%;
  }
  @media (max-width: 767px) {
    width: 90%;
  }
}
