.drag-drop {
    display: flex;
    justify-content: space-between;
    .section {
        background-color: #888;
        width: 40%;
        text-align: center;
        min-height: 300px;
        border-radius: 5px;
        margin: 5px;
    }
    .component {
        .dragdrop-section {
            border: 1px solid #000;
            min-height: 200px;
        }
    }
}